.Wedding {
  
}


/*Header styles*/
.Wedding-header {
  background-color: #282c34; 
  min-height: 36vh; /* 36vh = 36% of the viewport height */
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

/* Media Querie */
/* Large Screen (<1500px) */
@media (max-width: 93.75rem) {
  /* 1500px / 16px = 93.75*/

  html {
    font-size: 87.5%;
  }

  /* Auto Sizing to Device Screen*/
  svg {
    width: 70%;
    height: 70%;
  }
}

/* Mid Screen (<1000px) */
@media (max-width: 62.5rem) {
  /* 1000px / 16px = 62.5*/
  
  html {
    font-size: 75%;
  }
}

/* Small Screen (<500px) */
@media (max-width: 31.25rem) {
  /* 500px / 16px = 31.25*/
  html {
    font-size: 30%;
  }
}